<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试Frame</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/layui/layui.js"></script>
</head>
<body>

<button type="button" class="layui-btn" onclick="test1()">测试不带参数的请求</button>
<button type="layui-btn layui-btn-radius layui-btn-danger" class="layui-btn" onclick="test2()">测试带数据的</button>
<a href="#" class="layui-btn">一个可跳转的按钮</a>

<br>
<div class="layui-btn-group">
    <button type="button" class="layui-btn">增加</button>
    <button type="button" class="layui-btn">编辑</button>
    <button type="button" class="layui-btn">删除</button>
</div>

<div class="layui-btn-group">
    <button type="button" class="layui-btn layui-btn-sm">
        <i class="layui-icon">&#xe654;</i>
    </button>
    <button type="button" class="layui-btn layui-btn-sm">
        <i class="layui-icon">&#xe642;</i>
    </button>
    <button type="button" class="layui-btn layui-btn-sm">
        <i class="layui-icon">&#xe640;</i>
    </button>
    <button type="button" class="layui-btn layui-btn-sm">
        <i class="layui-icon">&#xe602;</i>
    </button>
</div>

<div class="layui-btn-group">
    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">
        <i class="layui-icon">&#xe654;</i>
    </button>
    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">
        <i class="layui-icon">&#xe642;</i>
    </button>
    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">
        <i class="layui-icon">&#xe640;</i>
    </button>
</div>
</body>
    <script>
        test1 = function () {
            $.ajax({
                type: 'post',
                url:'test/response',
                success: function (result) {
                    var code = result.code;
                    var message = result.message;
                    console.log("code:"+code);
                    console.log("message"+message);
                    if(code == "-1"){
                        alert(message);
                    }else {
                        alert(message);
                    }
                }
            });
        }

        test2 = function () {
            $.ajax({
                type: 'post',
                url:'test/response2',
                success: function (result) {
                    var code = result.code;
                    var message = result.message;
                    console.log("code:"+code);
                    console.log("message"+message);
                    if(code == "-1"){
                        alert(message);
                    }else {
                        alert(result.data);
                    }
                }
            });
        }
    </script>
</html>