<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>测试Frame</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/layui/layui.js"></script>
</head>
<body>

<button type="button" class="layui-btn" onclick="test1()">测试不带参数的请求</button>
<button type="layui-btn layui-btn-radius layui-btn-danger" class="layui-btn" onclick="test2()">测试带数据的</button>
<a href="#" class="layui-btn">[[msg]]</a>


</html>